@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

@import "tailwindcss";

@theme {
    --font-heading: "Playfair Display", serif;
    --font-body: "Montserrat", sans-serif;

    --color-primary-50: #faf7f3;
    --color-primary-100: #f4efe6;
    --color-primary-200: #e4d7c4;
    --color-primary-300: #d3bd9e;
    --color-primary-400: #c19d76;
    --color-primary-500: #b4865b;
    --color-primary-600: #a67450;
    --color-primary-700: #8a5d44;
    --color-primary-800: #704d3c;
    --color-primary-900: #5c4032;
    --color-primary-950: #312019;

    --text-h1: clamp(2.25rem, 2.5vw + 1.5rem, 3rem);
    --text-h1--line-height: clamp(3.25rem, 3.75vw + 2rem, 4.5rem);

    --text-h2: clamp(1.875rem, 2vw + 1.25rem, 2.5rem);
    --text-h2--line-height: clamp(2.5rem, 3.75vw + 1.25rem, 3.75rem);

    --text-h3: clamp(1.5rem, 1.5vw + 1rem, 2rem);
    --text-h3--line-height: clamp(2rem, 3vw + 1rem, 3rem);

    --text-h4: clamp(1.25rem, 0.75vw + 1rem, 1.5rem);
    --text-h4--line-height: clamp(1.75rem, 1.5vw + 1.25rem, 2.25rem);

    --text-h5: clamp(1.125rem, 0.5vw + 1rem, 1.25rem);
    --text-h5--line-height: clamp(1.5rem, 1.15vw + 1.125rem, 1.875rem);

    --text-body: clamp(0.875rem, 0.5vw + 0.75rem, 1rem);
    --text-body--line-height: clamp(1.25rem, 0.5vw + 1.1rem, 1.5rem);

    --text-btn: clamp(0.875rem, 1vw + 0.5rem, 1rem);
    --text-btn--line-height: 1.5rem;

    --text-btn-lg: clamp(1rem, 0.5vw + 0.85rem, 1.25rem);
    --text-btn-lg--line-height: clamp(1.5rem, 1vw + 1.2rem, 1.5rem);

    --text-badge: clamp(0.75rem, 0.3vw + 0.65rem, 0.875rem);
    --text-badge--line-height: clamp(1rem, 0.5vw, 1.3125rem);

    --animate-tagline-left: tagline-left 10s linear infinite;
    --animate-marquee-left: marquee-left 30s linear infinite;
    --animate-marquee-right: marquee-right 30s linear infinite;

    @keyframes tagline-left {
        from {
            transform: translateX(0);
        }
        to {
            transform: translateX(-735.88px);
        }
    }

    @keyframes marquee-left {
        from {
            transform: translateX(0);
        }
        to {
            transform: translateX(-1770px);
        }
    }
    @keyframes marquee-right {
        from {
            transform: translateX(0);
        }
        to {
            transform: translateX(1770px);
        }
    }
}

@layer utilities {
    .text-h1,
    .text-h2,
    .text-h3,
    .text-h4,
    .text-h5 {
        font-family: var(--font-heading);
        font-weight: 700;
    }

    .text-body,
    .text-btn,
    .text-btn-lg,
    .text-badge {
        font-family: var(--font-body);
    }

    .text-badge {
        font-weight: 500;
    }

    .text-btn,
    .text-btn-lg {
        font-weight: 600;
    }
}

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source "../views/**/*.blade.php";
@source "./**/*.js";
